body {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	color: #222;
	background-color: #FFFEF5;
	font-family: Tahoma, sans-serif;
}



/* style */
#navigation {
	float: right;
	width: 760px;
	line-height: 61px;
	border-bottom: 1px dotted #333;
}
#navigation a {
	display: inline-block;
	width: 140px;
	text-align: center;
	/*border: 1px red solid;*/
	text-decoration: none;
	font-size: 22px;
	font-family: Georgia;
}

#bullshit {
	width: 740px;
	float: right;
	/*border: 1px red solid;*/
	text-align: center;
	font-style: italic;
	font-size: 13px;
	margin-top: 10px;
}

#feeds {
	/*background-color: #ddd;*/
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 100%;
	text-align: center;
}

#feeds .rss-box {
	text-align: left;
}
#feeds h1 {
	font-size: 130%;
}
#feeds ul {
	margin-left: 0;
	padding-left: 0;
}
#feeds li {
	list-style: none;
}
#feeds .rss-date {
	float: right;
	font-size: 75%;
}

#feeds > div {
	width: 49%;
}
#github {
	float: left;
}
#nyaa {
	float: right;
}


#main {
	font-size: 100%;
	overflow: hidden;
}
#main a {
	border-bottom: 1px dotted #333;
}
#main p {
	line-height: 1.5;
	font-family: Georgia, serif;
}
#main .post {
	overflow: hidden;
}
#main .post .header {
	float: left;
	width: 300px;
	/*border: 1px solid red;*/
	font-size: 75%;
	text-align: right;
}
#main .post .header h1 {
	font-size: 170%;
}
#main .content {
	/*width: 40em;*/
	width: 600px;
	float: right;
}

.bio {
	display: block;
	clear: both;
	min-height: 100px;
	margin-bottom: 28px;
}
.bio img {
	float: left;
	margin-right: 2em !important;
	border: 1px solid #ccc;
	padding: 1px;
}


#footer {
	border-top: 1px dotted #333;
	font-size: 75%;
	padding-top: 5px;
	padding-bottom: 5px;
}
#footer a {
	margin-left: 10px;
}
#footer #copyright {
	float: right;
}


a img {
	border: 0;
}
a {
	color: #222;
	text-decoration: none;
}
a:hover {
	/*text-decoration: underline;*/
	background-color: #ccc;
}
#logo:hover {
	background-color: transparent;
}
