<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>{{ page.title }} ~ open-source-subs</title>
	<link href="/media/css/structure.css" rel="stylesheet" type="text/css" media="screen, projection" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
</head>
<body>
	<div id="header">
		<div id="navigation">
			<a href="/">Home</a>
			<a href="/about/">About</a>
			<a href="/q-and-a/">Q & A</a>
			<a href="/releases/">Releases</a>
			<a href="/contact/">Contact</a>
		</div>
		<div id="bullshit">
			Fix it yourself.
		</div>
		<a href="/" id="logo"><img src="/media/images/logo.png" /></a>
	</div>
	<div id="body">
