{% include page_top.html %}
		<div id="feeds">
			<div id="github">
				<h1>Recent Changes</h1>
				<script language="JavaScript" src="http://feed2js.org//feed2js.php?src=https%3A%2F%2Fgithub.com%2Forganizations%2Fopen-source-subs%2Fxiongchiamiov.private.atom%3Ftoken%3D5f7a775f3e3069217eb05377db7ef381&amp;num=5&amp;desc=1&amp;date=y&amp;targ=y&amp;utf=y" type="text/javascript"></script>
				
				<noscript>
					<a href="http://github.com/open-source-subs">View on GitHub</a>
				</noscript>
			</div>
			<div id="nyaa">
				<h1>Recent Releases</h1>
				<script language="JavaScript" src="http://feed2js.org//feed2js.php?src=http%3A%2F%2Fwww.nyaatorrents.org%2F%3Fpage%3Drss%26user%3D84977&amp;num=5&amp;date=y&amp;targ=y&amp;utf=y" type="text/javascript"></script>
				
				<noscript>
					<a href="http://www.nyaatorrents.org/?page=torrents&user=84977">View on NyaaTorrents</a>
				</noscript>
			</div>
		</div>
		<div id="main" class="sweet-justice">
			{{ content }}
		</div>
{% include page_bottom.html %}
